.col-md-4 {
    padding-left:0px;
    padding-right:0px;
  }
  
  .card-body .w3-button {
      position: absolute;
      top: 50%;
      left: 14%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
  }
  
  /* .card-body .w3-button:hover {
      background-color: black;
  } */
  
  
  .card-body .w3-button1 {
      position: absolute;
      top: 50%;
      left: 86%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
  }
  
  /* .card-body .w3-button1:hover {
      background-color: black;
  } */
  
  
  .card-body .dropdown {
      position: absolute;
      top: 15%;
      left: 75%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
      font-size: 20px;
      padding: 10px 10px;
      border: none;
      cursor: pointer;
      text-align: center;
  }
  
  .card-body .dropdown:hover {
      background-color:#DC143C;
  }
  
  
  .card-body .fav {
      position: absolute;
      top: 15%;
      left: 85%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-size: 20px;
      padding: 10px 10px;
      border: none;
      cursor: pointer;
      text-align: center;
  }
  
  .card-body .fav:hover {
      background-color:white;
  }
  
  
  .bottom-left {
    position: absolute;
    bottom: 25px;
    left: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }